:root {
  --main-color: #fff;
  --blue-color: #366ED8;
  --green-color: #6FB98F;
  --red-color: #DF634E;
  --dark-color: rgb(153, 153, 153);
}

.app {
  height: 100vh;
  display: flex;
  padding: .5rem;
}

button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  width: 32px;
  height: 32px;
}

button > img {
  width: 25px;
  vertical-align: middle;
}

@media (max-width: 560px) {
  .app {
    overflow-x: hidden;
  }
}

@media (hover: hover) {
  button:hover {
    cursor: pointer;
    border-bottom: 3px solid var(--blue-color);
  }
  .deleteBtn:hover {
    border-bottom: 3px solid var(--red-color);
  }
  .editBtn:hover {
    border-bottom: 3px solid var(--green-color);
  }
}