.main {
  width: 100%;
  padding-left: 10px;
  flex-shrink: 2;
}

.main-controls {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  max-width: 200px;
  padding-bottom: .5rem;
  border-bottom: 1px solid var(--dark-color);
}

.noteDisplay {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 0;
  min-width: 100%;
}

.noteDisplay input {
  font-size: 32px;
  font-weight: bold;
  font-family: inherit;
}

.noteDisplay textarea {
  height: 70vh;
  font-size: inherit;
  font-family: inherit;
}

@media (max-width: 560px) {
  .main {
    padding: 0 5px;
  }
}