.sideBar {
  background-color: var(--main-color);
  width: 290px;
  padding-right: .5rem;
  border-right: 1px solid var(--dark-color);
  flex-shrink: 1;
}

.sidebar-controls {
  border-bottom: 1px solid var(--dark-color);
  text-align: center;
  padding-bottom: .5rem;
}

.sidebar-controls > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: .5rem;
}

#sortBySelect {
  padding: .1rem;
}

.sideBar input {
  font-size: inherit;
  width: 90%;
}

ul {
  display: flex;
  flex-direction: column;
}

li {
  border-bottom: 1px solid var(--dark-color);
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div>p:first-child {
  margin-bottom: .5rem;
  max-height: 20px;
  overflow: hidden;
}

.activeNote {
  background-color: whitesmoke;
  color: var(--blue-color);
}

@media (max-width: 560px) {
  .sideBar {
    width: 100%;
    flex-shrink: 0;
  }
}
.collapsed {
  width: 35px;
  padding-right: .1rem;
}